{% extends 'taps_oan/base.html' %} {% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <hr>
    <div class="col-lg-12 pub_heading">
        <h1 class="page-header">About Taps Oan</h1>
    </div>
    <hr class="featurette-divider-sm">

    <div class="row">
        <div class="text-justify col-md-6 col-lg-6 col-xl-6 ">
            <p class="container">Taps Oan was founded during a stressful time. Coursework was piling up, dissertation deadlines were
                looming - but this only further ignited our desire for a cold, soothing pint. We know some of you may be in the
                same situation, so we brought you this light in the dark.</p> <br/>
            <h3>Taps oan is powered by Yelp</h3>
            <img class="img-fluid"  style="width: 90%" src={{ MEDIA_URL }}Yelp_trademark_RGB.png
                  alt="Powered by Yelp" />

        </div>
<div class="col-md-6 col-lg-6 col-xl-6 ">
        <h3>And a picture of a cat.</h3>

            <img class="img-fluid"  style="width: 100%" src={{ MEDIA_URL }}cat.jpg
                  alt="Picture of a cat"/>
        </div>
        <br>
        <p> visits: {{ visits }}</p>
    </div>
    <hr class="featurette-divider-sm">
{% endblock %}
