{% extends 'taps_oan/base.html' %} {% load staticfiles %}

{% block title_block %}
    Reset Password
{% endblock %}
{% block body_block %}
    <div class="row form-container ">
        <div class=" jumbotron">


            <h4>Enter your email address to reset password</h4>

            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                           maxlength="254" aria-describedby="emailHelp" placeholder="Enter email">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    <small id="emailHelp" class="form-text text-muted">Check your junk mail folder if the password reset
                        email does not arrive within 10 minutes
                    </small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}