{% extends 'taps_oan/base.html' %} {% load staticfiles %}

{% block title_block %}
    Reset Password
{% endblock %}

  <div class="row form-container ">
        <div class="jumbotron">
            <div class="row">
                <h2 >Password Reset</h2>

            </div>
            {% if validlink %}
            <div class="form-group">
                  <form method="post" >
                      {% csrf_token %}
                    <label class="col-md-6 col-xs-6" for="id_new_password1">New password:</label>
                    <input class="col-md-6 col-xs-6"style="color: #00008b" id="id_new_password1" maxlength="4096" name="new_password1" type="password"><br>
                    <label class="col-md-6 col-xs-6" for="id_new_password2">New password confirmation:</label>
                    <input class="col-md-6 col-xs-6"style="color: #00008b" id="id_new_password2" maxlength="4096" name="new_password2" type="password"><br>
                    <br>
                      <button class=" btn btn-primary btn-lg pull-right col-md-6 " type="submit">Submit</button>
                </form>
                </div>
            {% else %}
                <p>This reset link is no longer valid!</p>
            {% endif %}
        </div>
    </div>

<script>
    var token = getCookie('csrftoken');
</script>